
    <h1 class="title">Members</h1>
    <h2 class="subtitle">
      Members of Supply Chain
    </h2>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Label</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actor of actors" >
          <td>{{actor.label}}</td>
          <td><a [routerLink]="['/supplychain/inventory', actor.address]"> {{actor.address}}</a></td>
        </tr>
      </tbody>
      <!-- <app-supplier-box [actor]=actor></app-supplier-box> -->
    </table> 