<section class="section">
    <div class="columns">
      <div class="column container">
        <h1 class="title">Sellers</h1>
        <h2 class="subtitle">
          Selling Laptop K4
        </h2>
        <ng-container>
          <nav class="panel">
            <p class="panel-heading">
              {{seller.label}}
            </p>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              Address - {{seller.address}}
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              Asset Name - {{seller.assets ? seller.assets[0].name : null}}
            </a>
            <a class="panel-block" *ngFor="let asset of seller.assets">
              <span class="panel-icon">
                <i class="fa fa-book"></i>
              </span>
              {{asset.name}} - {{asset.qty}}
            </a>
            <a class="panel-block">
                <span class="panel-icon">
                  <i class="fa fa-book"></i>
                </span>
               Price - 30000$
              </a>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input [(ngModel)]="qty" class="input is-small" type="text" placeholder="Quantity">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>
            <div class="panel-block">
              <button (click)="placeOrder($event, seller)" class="button is-link is-outlined is-fullwidth">
                Place Order
              </button>
            </div>
            <br>
          </nav>
        </ng-container>
      </div>      
  
      <div class="column container">
        
        <h1 class="title">Buyer</h1>
        <h2 class="subtitle">
          Track your assets
        </h2>
        <nav class="panel">
          <p class="panel-heading">
              {{buyer.label}}
          </p>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            Address - {{buyer.address}}
          </a>
          <a class="panel-block" *ngFor="let asset of buyer.assets">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            {{asset.name}} - {{asset.qty}}
          </a>
        </nav>
        <h1 class="title">Simulate Shipping</h1>
        <h2 class="subtitle">
          Status of your shipment
        </h2>
        <button class="is-primary button" *ngIf="timeline[timeline.length - 1].caption == 'OrderPlaced'" (click)="doAction('package')">Package</button>
        <button class="is-primary button" *ngIf="timeline[timeline.length - 1].caption == 'Packaged'" (click)="doAction('ship')">Ship</button>
        <button class="is-primary button" *ngIf="timeline[timeline.length - 1].caption == 'Shipped'" (click)="doAction('deliver')">Deliver</button>
        <button class="is-primary button" *ngIf="timeline[timeline.length - 1].caption == 'Delivered'" (click)="doAction('reset')">Reset</button>
      </div>
    </div>
   
  </section>
  
  <!-- <section class="section">
    <div class="container">
      <h1 class="title">Simulate Shipping</h1>
      <h2 class="subtitle">
        Status of your shipment
      </h2>
      <button *ngIf="timeline[timeline.length - 1].caption == 'OrderPlaced'" (click)="doAction('package')">Package</button>
      <button *ngIf="timeline[timeline.length - 1].caption == 'Packaged'" (click)="doAction('ship')">Ship</button>
      <button *ngIf="timeline[timeline.length - 1].caption == 'Shipped'" (click)="doAction('deliver')">Deliver</button>
      <button *ngIf="timeline[timeline.length - 1].caption == 'Delivered'" (click)="doAction('reset')">Reset</button>
      <app-timeline [timelineElements]="timeline" [showContent]="false"></app-timeline>
    </div>
  </section> -->