
    <h1 class="title">My Account</h1>
    <h2 class="subtitle">
      Track your assets
    </h2>
    <nav class="panel">
      <p class="panel-heading">
        Rahil Shaikh
      </p>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-book"></i>
        </span>
        Address
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-book"></i>
        </span>
        $
      </a>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fa fa-book"></i>
        </span>
        Laptops
      </a>
      <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
          reset all filters
        </button>
      </div>
    </nav>