<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <h1 style="margin-bottom: 10px;" class="title is-2">Demo &nbsp;</h1>
      <div class="navbar-menu">
        <a  [routerLink]="['/supplychain']" class="navbar-item">
          <b>Supply Chain</b>
        </a>
        <!-- <a  [routerLink]="['/buysell']" class="navbar-item">
          <b>Buy Sell</b>
        </a> -->
      </div>
  </div>
  </div>
</nav>
<section>
  <router-outlet></router-outlet>
  <!--The content below is only a placeholder and can be replaced.-->
</section>




