<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="title is-2">Supply Chain POC</h1>
      <div class="navbaar-menu">
        <a [routerLink]="['/supplychain']" class="navbar-item">
          Supply Chain
        </a>
        <a [routerLink]="['/buysell']" class="navbar-item">
          Buy Sell
        </a>
      </div>
  </div>
  </div>
</nav>
<section>
  <router-outlet></router-outlet>
  <!--The content below is only a placeholder and can be replaced.-->
</section>




